/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-black);
  color: var(--text-light-gray);
  font-family: var(--fontFamily-poppins);
  font-size: var(--fontSize-8);
  line-height: 1.75;
  overflow: hidden;
  overflow-wrap: break-word;
}

body.loaded {
  overflow-y: auto;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-inline-start: 1px solid var(--border-eerie-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-white);
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.btn\:hover {
  position: relative;
  z-index: 1;
}

.btn\:hover::before,
.btn\:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--transition-1);
  will-change: transform;
  pointer-events: none;
}

.btn\:hover::after {
  border: 1px solid var(--bg-white);
  transform: scale(1.2);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::before {
  transform: scale(0.5);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::after {
  transform: scale(1);
  opacity: 1;
}

.text-center {
  text-align: center;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--bg-jet);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-tilt] {
  transition: var(--transition-3);
}

.title {
  color: var(--text-white);
  font-family: var(--fontFamily-recoleta);
  font-weight: var(--weight-regular);
}

.h1 {
  font-size: var(--fontSize-2);
  line-height: 1.2;
}

.h2,
.h3,
.h4,
.h5 {
  line-height: 1.3;
}

.h2 {
  font-size: var(--fontSize-3);
}

.h3 {
  font-size: var(--fontSize-4);
}

.h4 {
  font-size: var(--fontSize-5);
}

.h5 {
  font-size: var(--fontSize-7);
}

.h6 {
  font-size: var(--fontSize-6);
}

.btn {
  color: var(--text-white);
  font-size: var(--fontSize-9);
  font-weight: var(--weight-medium);
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  height: 56px;
  padding-inline: 30px;
}

.btn::before {
  background-color: var(--bg-smoky-black);
}

.btn ion-icon {
  font-size: 1.8rem;
  --ionicon-stroke-width: 50px;
}
