/*-----------------------------------*\
  #LAYOUT
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.section {
  padding-block: var(--section-spacing);
  overflow-x: hidden;
}
